body {
  font-family: "Poppins", sans-serif;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #071c4d;
}

header {
  padding: 180px 0 165px;
  margin-top: -70px;
  background-image: url("../images/header.jpg");
  background-size: cover;
}
